.about-page {
  margin: 80px 0px 80px 60px;

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;

    max-width: 100%;
  }

  input {
    color: #ffd700;
    margin-left: 30px;
    margin-right: 30px;
    background: transparent;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Coolvetica';
    text-decoration: none;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.5em;
  
    &:hover {
      background: #ffd700;
      color: #333;
    }
  
    // Adjust the flex property for width responsiveness
    @media screen and (max-width: 768px) {
      flex: 1; /* Adjust as needed for width scaling */
      max-width: 45%; /* Limit the width */
      padding: 10px; /* Adjust padding for height scaling */
    }
  
    @media screen and (max-width: 480px) {
      flex: 1; /* Adjust as needed for width scaling */
      max-width: 90%; /* Limit the width */
      padding: 10px; /* Adjust padding for height scaling */
    }
    
  }
  }
}